*{
  padding: 0;
  box-sizing: border-box;
}
.content-wrap{
  height:100vh;
  display: flex;
  flex-direction: column;
}

.nav-header{
  height: 80px;
  background-color: #424242;
  flex-shrink: 0;
  display: flex;
  align-items:center;
  justify-content:space-between;
  color:#9575CD;
  font-size: 18px;
  padding: 0 20px;
}
.nav-header h3{
font-weight: 777;
margin:0;
}
.nav-header span{
display: block;
padding: 5px 5px;
border-radius:5px;
font-weight: 777;
background-color: rgba(0, 0, 0, 0.1);
}
.content-main{
flex-wrap: 1;
background-color: #E1BEE7;
overflow-y: scroll;
}
.nav-footer{
  height: 80px;
  display: flex;
  background-color: #424242;
  flex-shrink: 0;
  align-items:center;
  justify-content:space-around;
  text-align: center;
  font-size: 24px;
}
.nav-footer a{
  flex-wrap: 1;
  display: flex;
  padding:10px 30px;
  border-right: 1px solid #BA68C8;
}
.nav-footer span{
  padding: 0 10px;
}

.nav-footer a:last-child{
  border-right: none;
}
.nav-footer a:focus,a:hover{
  text-decoration: none;

}

.nav-leftnav{
  width: 200px;
  display: flex;
  background-color: rgba(217, 95, 238, 0.5);
  flex-direction:column;
  font-size: 24px;
}
.nav-leftnav a{
  display: flex;
  padding: 20px 10px;
}
.nav-leftnav a:focus,a:hover{
  text-decoration: none;
}

.Home img {
  background-size:cover;
  position:relative;
  opacity: 0.9;
}
.Home h3{
  position: absolute;
  top: 170px;
  left: 120px;
  margin:0 auto;
  opacity: 0.5;
  font-size: 46px;
  color:purple;
  font-weight: 600;
  text-shadow: 3px 3px 3px ;
}
.Home h4{
  display: none;
  font-size: 32px;
  text-align: center;
  text-shadow: 5px 5px 5px;
  }

.About img{
  margin-left: 40%;
  border-radius: 50%;
}



@media(min-width:760px){
  .content-wrap{
    flex-direction:row;
  }
  .Home h3{
    display: none;
  }
  .Home h4{
    display: block;
  }
}
.About li{
  margin: 20px auto;

  list-style: none;
  width: 200px;
  display: flex;
  background-color: rgba(217, 95, 238, 0.5);
  flex-direction:column;
  font-size: 24px;
}
